[submodule "vendor/GLFW"]
	path = vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "vendor/GLM"]
	path = vendor/GLM
	url = https://github.com/g-truc/glm/
[submodule "vendor/fmt"]
	path = vendor/fmt
	url = https://github.com/fmtlib/fmt
[submodule "vendor/pugixml"]
	path = vendor/pugixml
	url = https://github.com/zeux/pugixml
[submodule "vendor/Assimp"]
	path = vendor/Assimp
	url = https://github.com/assimp/assimp
[submodule "vendor/DevIL"]
	path = vendor/DevIL
	url = https://github.com/DentonW/DevIL.git
[submodule "vendor/gli"]
	path = vendor/gli
	url = https://github.com/g-truc/gli
[submodule "data/Models/Sponza"]
	path = data/Models/Sponza
	url = https://github.com/jimmiebergmann/Sponza
[submodule "vendor/dirent"]
	path = vendor/dirent
	url = https://github.com/tronkko/dirent
[submodule "vendor/ImGuiFileDialog"]
	path = vendor/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog
[submodule "vendor/ImGui"]
	path = vendor/ImGui
	url = https://github.com/ocornut/imgui
[submodule "vendor/libjpeg"]
	path = vendor/libjpeg
	url = https://github.com/LuaDist/libjpeg
[submodule "vendor/ImGuizmo"]
	path = vendor/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "vendor/crossguid"]
	path = vendor/crossguid
	url = https://github.com/graeme-hill/crossguid
[submodule "vendor/RTTR"]
	path = vendor/RTTR
	url = https://github.com/rttrorg/rttr
[submodule "vendor/libpng"]
	path = vendor/libpng
	url = https://github.com/glennrp/libpng
