[submodule "vendor/GLFW"]
	path = vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "vendor/GLM"]
	path = vendor/GLM
	url = https://github.com/g-truc/glm/
[submodule "vendor/fmt"]
	path = vendor/fmt
	url = https://github.com/fmtlib/fmt
[submodule "vendor/pugixml"]
	path = vendor/pugixml
	url = https://github.com/zeux/pugixml
[submodule "vendor/Assimp"]
	path = vendor/Assimp
	url = https://github.com/assimp/assimp
[submodule "vendor/DevIL"]
	path = vendor/DevIL
	url = https://github.com/DentonW/DevIL.git
[submodule "vendor/ImGui"]
	path = vendor/ImGui
	url = https://github.com/TheCherno/imgui
[submodule "vendor/imgui-plot"]
	path = vendor/imgui-plot
	url = https://github.com/soulthreads/imgui-plot
