Standard: c++20
BreakConstructorInitializers: BeforeComma
BraceWrapping:
  AfterControlStatement: true
  AfterFunction: true
  BeforeElse: true
  AfterClass: false
BreakBeforeBraces: Custom
FixNamespaceComments: true
MaxEmptyLinesToKeep: 2

IndentWidth: 4
IndentPPDirectives: BeforeHash
NamespaceIndentation: None
TabWidth: 4
ConstructorInitializerIndentWidth: 4
AllowAllConstructorInitializersOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
AllowShortEnumsOnASingleLine: false
AllowShortBlocksOnASingleLine: Empty #mostly for empty ctors
BinPackArguments: true
BinPackParameters: false
ColumnLimit: 180
AccessModifierOffset: -4

#BitFieldColonSpacing: Both
PointerAlignment: Left
#SpaceAroundPointerQualifiers: Before
SpacesInSquareBrackets: false
SpacesInParentheses: false
SpacesInContainerLiterals: false
SpacesInConditionalStatement: false
SpacesInAngles: false
AllowShortFunctionsOnASingleLine: InlineOnly
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveMacros: true #hopefully not really used
AlignTrailingComments: true
AlignConsecutiveDeclarations: true
BreakBeforeBinaryOperators: true
CompactNamespaces: false

UseTab: Always

SortIncludes: true
IncludeBlocks: Regroup
IncludeIsMainRegex: ".h>$"
IncludeCategories:
  - Regex:           '^<.*Stdafx.h>'
    Priority:    	   1
  - Regex:           '^<Renderer/.*>'
    Priority:        2
  - Regex:           '^<Animation/.*>'
    Priority:        5
  - Regex:           '^<DX12Renderer/.*>'
    Priority:        6
  - Regex:           '^<GUI/.*>'
    Priority:        10
  - Regex:           '^<Physics/.*>'
    Priority:        14
  - Regex:           '^<Entity/.*>'
    Priority:        15
  - Regex:           '^<Core/.*>'
    Priority:        16
  - Regex:           '^<Utils/.*>'
    Priority:        17
  - Regex:           '^<glm.*>'
    Priority:        55
  - Regex:           '^<gli/gli.hpp>$'
    Priority:        56
  - Regex:           '^<IL/il.h>$'
    Priority:        56
  - Regex:           '<pugixml.hpp>'
    Priority:        60
  - Regex:           '.*'
    Priority:        100